@font-face {
  font-family: "General Sans";
  src: url("Frontend/public/fonts/generalsans.otf");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #f5f7f9;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(180deg, #050910 0%, #080f19 100%);
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */
